
body {
    font-family:'Raleway', sans-serif;
    
}


.row {
    margin:0;
    padding:0;
}

a {
    text-decoration:none;
}

/*----- colors

green: rgba(0, 153, 51, 1)
#009933
white clear: rgba(255, 255, 255, 0.5)
white semi: rgba(255, 255, 255, 0.8)
white: rega(255, 255, 255, 1)
#ffffff---------*/

/*------------Background for homescreen ----------------------*/
.background-container{
    background: url("images/wallpaper.jpg") no-repeat right center fixed; 
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

    display:flex;
    align-items:center;

    position:relative;
    height:100vh;

    opacity:100%;
}


 /*--------------------- Index main navbar ----------------------*/
.navbar {
    background-color: rgba(0, 153, 51);
    color: #fff;
    }

/*-------------------- Index Buttons ------------------------------*/
.button-freestyle, .button-timed {
    font-size:25px;
    font-weight:400;
    background-color: rgba(0, 153, 51, 1);
    color: #fff;
    border-radius:150px;
    margin:80px;
}

.button-timed {
    padding-top:60px;
    padding-right:40px;
    padding-bottom:60px;
    padding-left:40px;
}

.button-freestyle {
    padding-top:60px;
    padding-right:25px;
    padding-bottom:60px;
    padding-left:25px;
}

.button-timed:hover,
.button-freestyle:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color:rgba(0, 153, 51, 1);
    font-weight:600;
    transition-duration:0.4s;
}




/*---------------------------- Credits Page ----------------------------*/
.credits-text-box {
    background:#fff;
    font-family:Raleway;
    font-size:25;
    text-align:center;
    margin:0;
}

.creditstext {
    margin-right:80px;
    margin-top:20%;
    margin-bottom:80px;
    color:rgba(0, 153, 51, 1);
    font-weight:300;
    font-size:20px;
}

.creditsimage {
    margin-top:20%;
}

/*----------------------------- Game -----------------------*/

#plant-map {
    position:absolute;
    z-index:1;
}

#plant-map-image {
    position:relative;
    cursor:move;
    margin:10px;
    z-index:2;
}

.counter-display {
    background-color:rgba(0, 153, 51, 1);
    color:#fff;
    text-align:center;
    
    
    border-radius:50%;
    width:100px;
    height:100px;
    position:fixed;
    z-index:3;
}

.counter {
    font-size:30px;
    font-weight:400;
    
}

.exit-button {
    background-color:rgba(0, 153, 51, 1);
    color:#fff;

    position:fixed;
    right:5%;
    bottom:5%;

    border:none;
    border-radius:50%;
    width:50px;
    height:50px;

    font-size:20px;

    z-index:3;
}

.image-display {
    position:fixed;
    top:60px;
    left:60px;
    z-index:3;
}


/* Music Controls */

.sound-button {
    background-color:rgba(255, 255, 255, 0.5);
    color:rgba(0, 153, 51, 1);
    text-align:center;
    
    border-radius:50%;
    width:60px;
    height:50px;
    padding-top:10px;

    position:fixed;
    right:10px;
    top:10px;
    z-index:3;

    font-size:30px;
    
}

.sound-button:hover,
.sound-button:active,
.sound-button:visited{
    background-color:rgba(0, 153, 51, 1);
    color:#fff;
}


#sound-on {
    visibility: hidden;
}

#sound-off {
    visibility: visible;
}


/*----------------------- Instructions -----------------------------*/

.instruction-1{
    visibility:hidden;
}
.instruction-2{
    visibility:hidden;
}

.instruction-3{
    visibility:hidden;
}

.instruction-4{
    visibility:hidden;
}

.instruction {
    position:fixed;
    
    width:300px;
    height:auto;
    
    margin-left:30%;
    margin-top:15%;

    background-color:rgba(0, 153, 51, 1);
    color:#fff;
    
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    padding-right:30px;
    
    border-radius:30px;
    
    font-size:25px;
    font-weight:300;
    text-align:center;

    z-index:4;
}

.instructions-nav {
    font-size:30px;
    font-weight:400;
    display:flex;
    justify-content:center;
    align-items:center;
}

.nav-arrow {
    font-size:40px;
    margin-right:20px;
    margin-left:20px;
}

.nav-next {
    font-size:50px;
}

.nav-button.nav-back {
    font-size:20px;
}

.ok-lets-go {
    font-weight:500;
    font-size:40px;
}

#lets-go {
    background-color:#fff;
    color:rgba(0, 153, 51, 1);
    padding:15px;
}

#lets-go:hover {
    background-color:rgba(0, 153, 51, 1);
    color:#fff;
}


/*---------------- Gamescreen Modals ----------------*/
.modal {
    visibility:hidden;

    background-color:rgba(255, 255, 255, 0.8);
    color:rgba(0, 153, 51, 1);

    position:fixed;
    top:30%;
    left:30%;
    
    padding:50px;
    justify-content:center;
    text-align: center;
    font-size: 50px;
    font-weight:900;

    z-index:2;
}

#end-game-modal>span {
    background-color:rgba(0, 153, 51, 1);
    color: #fff;
    padding:20px;
    border-radius:20px;

    font-size:30px;
}

#end-game-modal>span:hover {
    background-color:rgba(255, 255, 255, 0.5);
    color:#009933;
}



/* Bakset*/

.basket {
    visibility: hidden;
    position:fixed;
    top:30%;
    left:30%;
    
    width:auto;
    height:auto;
    
    background-color:rgba(0, 153, 51, 1);
    color:#fff;
    
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    padding-right:30px;
    
    font-size:25px;
    font-weight:300;
    text-align:center;

    z-index:4;
}


