
body {
    font-family: 'Raleway', sans-serif;
    
}


.row {
    margin: 0;
    padding:0;
}

a {
    text-decoration: none;
}



/*------------Background for homescreen ----------------------*/
.background-container{
    background: url("images/wallpaper.jpg") no-repeat right center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;

    position: relative;
    height: 100vh;

    opacity: 100%;
}


 /*--------------------- Index main navbar ----------------------*/
.navbar {
    background-color: rgba(0, 153, 51);
    color: #fff;
    }

/*-------------------- Index Buttons ------------------------------*/
.button-freestyle, .button-timed {
    font-size: 25px;
    font-weight: 400;
    background-color: rgba(0, 153, 51, 1);
    color: #fff;
    border-radius: 150px;
    margin: 80px;
}

.button-timed {
    padding-top: 60px;
    padding-right:40px;
    padding-bottom: 60px;
    padding-left:40px;
}

.button-freestyle {
    padding-top: 60px;
    padding-right: 25px;
    padding-bottom: 60px;
    padding-left:25px;
}

.button-timed:hover,
.button-freestyle:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color:#009933;
    font-weight: 600;
    transition-duration: 0.4s;
}




/*---------------------------- Credits Page ----------------------------*/
.credits-text-box {
    background: #fff;
    font-family: Raleway;
    font-size: 25;
    text-align: center;
    margin: 0;
}

.creditstext {
    margin-right: 80px;
    margin-top: 20%;
    margin-bottom: 80px;
    color: #009933;
    font-weight:300;
    font-size: 20px;
}

.creditsimage {
    margin-top: 20%;
}

/*----------------------------- Game -----------------------*/

#plant-map {
    position: absolute;
    z-index: 1;
}

#plant-map-image {
    cursor: move;
    margin: 10px;
    z-index: 2;
}

.counter-display {
    background-color: #009933;
    color: #fff;
    text-align: center;
    
    
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 3;
}

.counter {
    font-size: 30px;
    font-weight: 400;
    
}

.exit-button {
    background-color:#009933;
    color: #fff;

    position: absolute;
    right:30px;
    bottom:30px;

    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    font-size: 20px;

    z-index: 3;
}

.image-display {
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: 3;
}


/*----------------------- Instructions -----------------------------*/

.instruction-1{
    visibility: hidden;
}
.instruction-2{
    visibility: hidden;
}
/*.instruction-3{
    visibility: hidden;
}
.instruction-4{
    visibility: hidden;
}*/

.instruction {
    position:absolute;
    
    width: 300px;
    height: 200px;
    
    margin-left: 30%;
    margin-top: 15%;

    background-color: #009933;
    color:#fff;
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
    border-radius: 30px;
    
    font-size: 25px;
    font-weight: 300;
    text-align: center;

    z-index: 4;
}

.instruction>a {
    text-decoration: none;
    color: #fff;
}

.instruction>a:hover {
    font-weight: 600;
    transition-duration: 0.5s;
}

/*---------------- Gamescreen Modals ----------------*/
#try-again-modal {
    visibility: hidden;

    background-color: rgba(255, 255, 255, 0.8);
    color: #009933;

    position: absolute;
    margin-left: 20%;
    margin-top: 20%;
    padding: 50px;
    justify-content: center;

    font-size: 50px;
    font-weight: 900;

    z-index: 2;
}

#correct-answer-modal {
    visibility: hidden;

    background-color: rgba(255, 255, 255, 0.5);
    color: #009933;

    width: 100%;
    height:100%;

    margin: 0;
    position: absolute;
    padding: 20%;
    justify-content: center;

    font-size: 50px;
    font-weight: 900;
    
    z-index: 2;
}

#end-game-modal {
    visibility: hidden;

    background-color: rgba(255, 255, 255, 0.5);
    color: #009933;

    height:100%;
    
    position: absolute;
    padding: 10%;
    justify-content: center;

    text-align: center;
    font-size: 50px;
    font-weight: 900;
    
    z-index: 2;
}

#end-game-modal>span {
    background-color: #009933;

    padding: 20px;
    border-radius: 20px;

    font-size: 30px;
}
#end-game-modal>span:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
#end-game-modal>span>a {
    text-decoration: none;
    color: #fff;
}
#end-game-modal>span>a:hover {
    text-decoration: none;
    color: #009933;
}


/* Bakset*/

.title-score{


}

.learn-display{

}