
body {
    font-family: 'Raleway', sans-serif;
    
}


.row {
    margin: 0;
    padding:0;
}

a {
    text-decoration: none;
}



/*------------Background for homescreen ----------------------*/
.background-container{
    background: url("images/wallpaper.jpg") no-repeat right center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;

    position: relative;
    height: 100vh;

    opacity: 100%;
}


 /*--------------------- Index main navbar ----------------------*/
.navbar {
    background-color: rgba(0, 153, 51);
    color: #fff;
    }

/*-------------------- Index Buttons ------------------------------*/
.button-freestyle, .button-timed {
    font-size: 25px;
    font-weight: 400;
    background-color: rgba(0, 153, 51, 1);
    color: #fff;
    border-radius: 150px;
    margin: 80px;
}

.button-timed {
    padding-top: 60px;
    padding-right:40px;
    padding-bottom: 60px;
    padding-left:40px;
}

.button-freestyle {
    padding-top: 60px;
    padding-right: 25px;
    padding-bottom: 60px;
    padding-left:25px;
}

.button-timed:hover,
.button-freestyle:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color:#009933;
    font-weight: 600;
    transition-duration: 0.4s;
}


/*----------------------- Instructions -----------------------------*/
.instruction {
    width: 100%;
    margin: 20px;
    background-color: #009933;
    border-radius: 30px;
    color:#fff;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}




/*---------------------------- Credits Page ----------------------------*/
.credits-text-box {
    background: #fff;
    font-family: Raleway;
    font-size: 25;
    text-align: center;
    margin: 0;
}

.creditstext {
    margin-right: 80px;
    margin-top: 20%;
    margin-bottom: 80px;
    color: #009933;
    font-weight:300;
    font-size: 20px;
}

.creditsimage {
    margin-top: 20%;
}

/*----------------------------- Game -----------------------*/

#plant-map {
    position: absolute;
    z-index: 1;
}

#plant-map-image {
    cursor: move;
    margin: 10px;
    z-index: 2;
}
/*body {
    background-color: #009933;
    margin: 0;
}*/

.counter-display {
    background-color: #009933;
    color: #fff;
    text-align: center;
    
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 3;
}

.counter {
    font-size: 30px;
    font-weight: 400;
    margin-top: 30%;
    margin-bottom: 30%;
}

.exit-button {
    background-color:#009933;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    right:30px;
    bottom:30px;
    z-index: 3;
}

.image-display {
    position: absolute;
    z-index: 3;
    top: 30px;
    left: 30px;
}

.plant-name-display {
    font-size: 25px;
    color:#009933;
    font-weight: 400;
}


/*---------------- Gamescreen Try Again Modal ----------------*/
#try-again-modal {
    visibility: hidden;
    z-index: 2;
    position: fixed;
    margin-left: 15%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
}

#correct-answer-modal {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
    position: fixed;
    /*margin-left: 15%;
    margin-top: 5%;**/
    padding: 10%;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #009933;
    width: 100%;
    height:100%;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

#end-game-modal {
    /*visibility: hidden;*/
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
    position: fixed;
    /*margin-left: 15%;
    margin-top: 5%;**/
    padding: 10%;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #009933;
    height:100%;
}

#end-game-modal>span {
    font-size: 30px;
    background-color: #009933;
    padding: 20px;
    border-radius: 20px;
    
}
#end-game-modal>span:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#end-game-modal>span>a {
    text-decoration: none;
    color: #fff;
}

#end-game-modal>span>a:hover {
    text-decoration: none;
    color: #009933;
}